<%= render 'layouts/header' %>

<h1>Shopping cart</h1>

<%= form_tag("/cart", method: "get") do %>

    <%= label_tag(:orderBy, "Order by: ") %>
    <%= select_tag(:orderBy, options_for_select(@select_list, 0))  %>
    <%= submit_tag("Order") %>
<% end %>

<ul>
  <li>Flights
    <% if @cart_flights.length == 0 %>
        <ul><li>No items in cart</li></ul>
    <% else %>
        <% @cart_flights.each do |flight| %>
            <ul>
              <li>Flight name: <%= flight["name"] %></li>
              <li>
                <%= form_tag("/cart", method: "post") do %>
                    <%= hidden_field_tag(:flight_id, flight["id"]) %>
                    <%= label_tag(:flight_quantity, "Quantity: ") %>
                    <%= text_field_tag(:flight_quantity, flight["quantity"]) %>
                    <%= submit_tag("Change Quantity") %>
                <% end %>
                <%= form_tag("/cart", method: "post") do %>
                    <%= hidden_field_tag(:flight_id, flight["id"]) %>
                    <%= hidden_field_tag(:flight_quantity, 0) %>
                    <%= submit_tag("Remove Flight") %>
                <% end %>
              </li>
              <li>

              </li>
            </ul>
            <li>--------------------------------------------</li>
        <% end %>
    <% end %>
    </li>
    </ul>

<%= link_to 'Checkout', billing_path %>

<%= render 'layouts/footer' %>