<%= render 'header' %>
<h1><%= @about.key %></h1>
<p><%= @about.content %></p>
<ul>
  <% @info.each do |entry|%>
      <% if entry.key != "About Us"%>
         <li>
            <%= entry.key %>:
            <%= entry.content %>
         </li>
      <% end %>
  <% end %>
<%= render 'footer' %>