<%= render 'layouts/header' %>

<h1>Browse flights</h1>
<%= form_tag("/", method: "get") do %>

    <%= label_tag(:rocketType, "Select Rocket: ") %>
    <%= select_tag(:rocketType, options_for_select(@select_list, 0))  %>

    <%= label_tag(:search, "Search:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
<% end %>

  <ul>
  <% @flights.each do |flight| %>
      <li>
        <h4>Flight number: <%= flight.name %></h4>
        <ul>

          <!--<li>Destination: <%= flight.rocket.name %></li>-->
          <li>Destination: <%= flight.destination.name %></li>
          <li>Departure time: <%= flight.departure_time.to_s %></li>
          <li>Arrival time: <%= flight.arrival_time.to_s %></li>
          <li>Total seats: <%= flight.seats %></li>
          <li>Price: <%= flight.price %></li>
          <li><%= flight.rocket.name %></li>
          <%= link_to 'Details', flight %>
          <%= link_to 'Add to Cart', controller: "cart", action: "index", id:flight, method: :post %>
        </ul>
      </li>
  <% end %>
</ul>


<%= render 'layouts/footer' %>