<h1>Browsee flights</h1>
<%= form_tag("/", method: "get") do %>
    <%= label_tag(:search, "Search:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
<% end %>
<ul>
  <% @all_flights.each do |flight| %>
      <li>
        <h4>Destination: <%= flight.destination %></h4>
        <ul>
          <li>Departure time: <%= flight.departure_time %></li>
          <li>Arrival time: <%= flight.arrival_time %></li>
        </ul>
      </li>
  <% end %>
</ul>